
/* center the navbar*/
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.center .dropdown-menu {
    text-align: left;
}

.navbar-custom {
  background-color:#000; opacity:0.3;
}
.jumbotron {
    position: relative;
	width:100%;
    height: 90%;
    background-size: 100% 100%;
}

.btn,
.active {
	transition: .4s;
}



button:hover {
  background: #3071A9
}


<<<<<<< HEAD
#fh5co-footer {
  padding-top: 4em;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 350px;
  background: gray;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  #fh5co-footer {
    height: inherit;
    position: relative;
    padding: 5em 0;
  }
}
#fh5co-footer .fh5co-social li {
  display: block;
}
#fh5co-footer p {
  line-height: 1.5;
}
#fh5co-footer h3 {
  color: #fff;
  font-size: 20px;
}
#fh5co-footer a {
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-footer a:hover {
  color: deepskyblue;
}
#fh5co-footer ul {
  padding: 0;
  margin: 0;
}
#fh5co-footer ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-copyright {
  padding-top: 3em;
}
#fh5co-footer .fh5co-copyright small {
  display: block;
}
=======
>>>>>>> pr/12
