@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 17px;
    line-height: 1.5;
  }
}

#fh5co-wrap {
  position: relative;
  background: #fff;
  z-index: 2;
  margin-bottom: 450px;
}
@media screen and (max-width: 992px) {
  #fh5co-wrap {
    margin-bottom: auto;
  }
}

.fh5co-table,
.fh5co-table-cell,
.fh5co-hero,
.fh5co-parallax {
  height: 670px;
}

.fh5co-hero, .fh5co-parallax {
  background-color: #555;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.fh5co-hero .overlay, .fh5co-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .2;
}

@media screen and (max-width: 768px) {
  .fh5co-hero, .fh5co-parallax {
    height: inherit;
    padding: 4em 0;
  }
}
.fh5co-hero .fh5co-intro h1, .fh5co-parallax .fh5co-intro h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-hero .fh5co-intro h1, .fh5co-parallax .fh5co-intro h1 {
    font-size: 30px;
  }
}
.fh5co-hero .fh5co-intro p, .fh5co-parallax .fh5co-intro p {
  color: #fff;
}
.fh5co-hero .fh5co-intro p a, .fh5co-parallax .fh5co-intro p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fh5co-hero .fh5co-intro p a:hover, .fh5co-parallax .fh5co-intro p a:hover {
  color: #fff;
}

a {
  color: #52d3aa;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #52d3aa;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}




/* center the navbar*/
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.center .dropdown-menu {
    text-align: left;
}

.navbar-custom {
  background-color:#000; opacity:0.7;
}
.jumbotron {
    position: relative;
	background: url('/img/cover.jpg');
	width:100%;
    height: 90%;
    background-size: 100% 100%;
}

.btn,
.active {
	transition: .4s;
}



button:hover {
  background: #3071A9
}


#fh5co-footer {
  padding-top: 4em;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 350px;
  background: gray;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  #fh5co-footer {
    height: inherit;
    position: relative;
    padding: 5em 0;
  }
}
#fh5co-footer .fh5co-social li {
  display: block;
}
#fh5co-footer p {
  line-height: 1.5;
}
#fh5co-footer h3 {
  color: #fff;
  font-size: 20px;
}
#fh5co-footer a {
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-footer a:hover {
  color: deepskyblue;
}
#fh5co-footer ul {
  padding: 0;
  margin: 0;
}
#fh5co-footer ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-copyright {
  padding-top: 3em;
}
#fh5co-footer .fh5co-copyright small {
  display: block;
}

.fh5co-hero .fh5co-intro h1, .fh5co-parallax .fh5co-intro h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-hero .fh5co-intro h1, .fh5co-parallax .fh5co-intro h1 {
    font-size: 30px;
  }
}
.fh5co-hero .fh5co-intro p, .fh5co-parallax .fh5co-intro p {
  color: #fff;
}
.fh5co-hero .fh5co-intro p a, .fh5co-parallax .fh5co-intro p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fh5co-hero .fh5co-intro p a:hover, .fh5co-parallax .fh5co-intro p a:hover {
  color: #fff;
}


body {
  padding: 20px;
}

nav {
  a {
    margin: 0 20px;
  }
}

.content {
  display: none;
}

#home {
  // more specific, so it overrides display: none;
  display: block;
}

#fh5co-header nav li a {
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.fh5co-table-cell {
  display: table-cell;
  vertical-align: middle;
}


#fh5co-header nav li a span {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
  display: block;
}
@media screen and (max-width: 768px) {
  #fh5co-header nav li a {
    padding: 10px 2px;
  }
}
#fh5co-header nav li a:hover {
  color: white;
}
#fh5co-header nav li a:hover span {
  border-bottom: 2px solid #fff;
}
#fh5co-header nav li.fh5co-active a {
  color: #fff;
}
#fh5co-header nav li.fh5co-active a span {
  border-bottom: 2px solid #fff;
}
.fh5co-table {
  display: table;
}
#map {
  width: 100%;
  height: 700px;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}